body {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

main {
  width: 626px; 
  height: 486px;
  text-align: center;
  margin: 64px 199px 64px 199px;
}

.woman {
  margin: 64px 337px 32px 337px; 
}

h1 {
   
  font-family: Dosis, sans-serif;
  font-weight: 500;
  font-size: 32px;
  font-style: normal;
  line-height: 40px;
  text-align: center;
  color: #3F3D56;
  margin-bottom: 16px;
}

h1 span {
  font-family: Dosis, sans-serif;
  font-weight: 700;
  font-size: 32px;
  font-style: normal;
  line-height: 40px;
  text-align: center;
  color: #EE24FF;
}

.text {
  width: 540px;
  height: 107px;
  margin: auto;
}


p, .line {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #828282;
  
}


p span, a {
  font-weight: 700;
  font-size: 15px;
  font-style: normal;
  line-height: 40px;
  text-align: center;
  color: #3F3D56;
    
}




.line {
  width: 391px;
  margin: 614px auto;
  border-top: 1px solid #ECEFF2; 
  
}


a { 
  margin-left: 42px;  
  line-height: 147.68%;
  text-decoration: none;
  text-align: center;
}


.footer {
  width: 1024px;
  height: 176px;
  margin: 64px auto;
  
}

.wave {
  position:fixed;
  width: 100%;
  height: 104px;  
  bottom:0px;
  left: 0;
  margin-top: 686px;
 
}
